

@media only screen and (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        justify-content: center;
        align-content: center;
    }

    .projects h2 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .project h3 {

    }

    .project-text {
        width: 70%;
        align-self: center;
    }

    img {
        width: 95%;
        height:
    }

    .project {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .project-items {
       align-self: center;
    }

    .project1 {
        background-color: #2b6777;
        color: white;
    }

    .project3 {
        background-color: #2b6777;
        color: white;
    }

    .project5 {
        background-color: #2b6777;
        color: white;
    }


}