

@media only screen and (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        justify-content: center;
        align-content: center;
    }

    .projects h2 {
        font-size: 2.2rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .projInfo {
        margin-top: 0;
        font-size: .8rem;
        margin-bottom: 2rem;
    }

    .project h3 {
        font-size: 1.3rem;
    }

    .project-text {
        width: 70%;
        align-self: center;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .project-text p {
        margin-bottom: 1.5rem;
    }

    .project-text a {
        text-decoration: none;
        border: 3px black #52ab98;
        border-radius: 45%;
        background-color: #52ab98;
        color: white;
        padding: .4rem;
        cursor: pointer;
    }

    img {
        width: 95%;
    }

    .project {
        display: flex;
        flex-direction: column;
       
    }

    .project-items {
       align-self: center;
    }

    .project1 {
        background-color: #2b6777;
        color: white;
    }

    .project3 {
        background-color: #2b6777;
        color: white;
    }

    .project5 {
        background-color: #2b6777;
        color: white;
    }


}