
.about-me {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 3.2rem);
    position: relative;
    margin-top: 1rem;
    top: 3.8rem;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.aboutContainer {
    margin-top: 1rem;
    grid-column: 2 / 10;
    grid-row: 1 / 10;
    border-radius: 10%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.about-text {
    grid-column: 6 /span 2;
    grid-row: 1 / span 3;
    position: relative;
	width: 20rem;
	text-align: center;
	line-height: 1.4em;
	margin: 0;
	background-color: #52ab98;
	border: 8px solid #333;
	border-radius: 30px;
	
	color: black;
}

.about-text h2 {
    font-size: 1.5rem;
}

.about-text p {
    font-size: 1rem;
}


.about-text:before,
.about-text:after {
    content: '';
    position: absolute;
 
}

.about-text:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

.about-text:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	border-color: #52ab98 transparent transparent #52ab98;
}


.about-me-pics {
    grid-column:  1 / span 2;
    grid-row: 4 / 7;
    height: 100%;
}

.selfImage {
    border-radius: 50%;
    height: 100%;
    grid-column: 4 / 6;
    grid-row: 3 / 10;
    justify-self: center;
    align-self: center;
    
}



@media only screen and (max-width: 800px) {
    .about-me {
        padding-top: 1rem;
        display: block;
        height: 35rem;
        padding-bottom: 0;
    }

    .aboutContainer {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 3.2rem);
    }

    .about-text {
        grid-column: 5 / 10;
        grid-row: 1 / 5;
        padding-bottom: 3rem;
        padding-right: 1.3rem;
        padding-left: 1.3rem;
        width: 85%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .about-text p {
       font-size: 1rem;
    }

   .about-me p {
       
       text-align: center;
       padding: 0;
   }

    .selfImage {
        grid-column: 1 / 9;
        grid-row: 4 / 10;
    }
}