.about-me {
    background-color: #2b6777;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 5rem);
    position: relative;
    margin-top: 1rem;
    top: 3.8rem;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.about-text {
    grid-column: 3 /span 2;
    grid-row: 1 / span 8;
    align-self: center;
    justify-self: center;
}
.about-me p {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    align-self: center;
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.about-me-pics {
    grid-column:  1 / span 2;
    /* background-color: rgba(100,100,100,.8); */
    grid-row: 1 / 9;
    display: flex;
    justify-content: center;
    background-color: #c8d8e4;
    align-self: center;
    height: 100%;
}



@media only screen and (max-width: 800px) {
    .about-me {
        padding-top: 1rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(20, 1fr);
        height: 35rem;
        padding-bottom: 0;
    }

    .about-text {
        grid-column: 1 / span 5;
        grid-row: 1 / span 6;
        padding-bottom: 3rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .about-me-pics {
        grid-column: 1 / span 5;
        grid-row: 6 / 21;
        background-color: #c8d8e4;
    }

    h2 {
        font-size: 1.5rem;
    }

    .about-text p {
       font-size: 1rem;
    }

    .pianoImg {
        display: none;
    }

   .about-me p {
       grid-column: 1 / span 5;
       grid-row-start: 8;
       text-align: center;
       padding: 0;
   }

    .meImg {
        display: none;
    }

    .nobgSelf {
        display: block;
        width: 100%;
        margin: auto 1rem;
    }
}