nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    justify-content: space-evenly;
    /* color: #AD9728 */
}

nav h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #D9B08C;
}


nav a {
    text-decoration: none;
    cursor: pointer;
    color: #D1E8E2;
    font-family: 'Londrina Solid', cursive;
}

.dropdown {
    display: none;
}


@media only screen and (max-width: 700px) {
    nav a {
        display: none;
        
    }

    nav {
        border-bottom: .2rem solid #D9B08C;
    }

    nav h2 {
       display: none;
    }
    
    .dropdown {
        display: block;
        grid-column-start: 5;
    }

 

    .mobile-id {
        display: block;

        justify-items: end;
        padding: 0;
        margin: .2rem 0;
        font-size: 2rem;
        /* background-color: #612553; */
        background-color: transparent;
        color: #D9B08C;
        border: 0;
        cursor: pointer;
    }
}