nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    justify-content: space-evenly;
    /* color: #AD9728 */
}

nav h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #D9B08C;
}


nav a {
    text-decoration: none;
    cursor: pointer;
    color: #D1E8E2;
    font-family: 'Londrina Solid', cursive;
}

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
}




@media only screen and (max-width: 700px) {
    .navItem {
        display: none;  
    }

    nav {
        border-bottom: .2rem solid #D9B08C;
    }

    nav h2 {
       display: none;
    }
    
    .dropdown {
        display: flex;
        flex-direction: column;
        grid-column-start: 5;
    }
   
    .dropdown-content.showMenu {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: .6rem 0;
    }

    .dropdown-content a {
        padding: .2rem;
    }
    .mobile-id {
        display: block;
        font-family: 'ZCOOL KuaiLe', cursive;
        justify-items: end;
        padding: 0;
        margin: .2rem 0;
        font-size: 2rem;
        /* background-color: #612553; */
        background-color: transparent;
        color: #D9B08C;
        border: 0;
        cursor: pointer;
    }
}