nav {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    justify-content: space-evenly;
    z-index: 100;
    position: fixed;
    top: 0;
    padding: 1rem 0;
    /* color: #AD9728 */
}

.myName {
    font-family: 'Oswald', sans-serif;
    color: #2b6777;
    font-size: 1.6rem;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.nitem1 {
    grid-column-start: 1;
}

.nitem2 {
    grid-column-start: 2;
    letter-spacing: .12rem;
}

.nitem4 {
    grid-column-start: 4;
}

.initials {
    display: none;
}

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
}




@media only screen and (max-width: 700px) {
    .navItem {
        display: none;  
    }

    nav {
        border-bottom: .23rem solid #c8d8e4;
        padding: .5rem 0;
        position: fixed;
        top:0;
        z-index: 100;
    }

    .myName {
       display: none;
    }
    
    .dropdown {
        display: block;
        grid-column-start: 5;
    }

    .initials {
        grid-column-start: 1;
        display: block;
     
        margin: 0;
        margin-left: 0;
    }
    
    .initials a {
        font-family: 'Oswald', sans-serif;
        color: #2b6777;
        font-size: 1.7rem;
        letter-spacing: .12rem;
    }

    .initials.hideInitials {
        display: none;
    }
   
    .dropdown {
        
    }

    .dropdown i {
        font-size: 1.7rem;
    }
   
    .dropdown-content.showMenu {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: .6rem 0;
    }

    .dropdown-content {
        transition: all 1s ease-in;
        
    }

    .dropdown-content a {
        padding: .2rem;
    }

    .mobile-id {
        display: block;
        grid-column-start: 5;
        /* font-family: 'ZCOOL KuaiLe', cursive; */
        font-family: 'Londrina Solid', cursive;
        justify-items: end;
        padding: 0;
        margin: .2rem 0;
        font-size: 2rem;
        /* background-color: #612553; */
        background-color: transparent;
        color: #2b6777;
        border: 0;
        cursor: pointer;
    }
}