html, body {
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  /* background-image: url("./images/cool-background.png");
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: #5CDB95;  */
  /* background-color: #2b6777; */
  width: 100%;
  color: black;
  font-family: 'Oswald', sans-serif;
}
